.AlcoholList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 10%;
  width: 75%;
  padding-bottom: 5%;

  overflow: hidden;
  /* overflow: visible; */
  /* background-color: rgba(255, 255, 255, 0.51); */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.51) 80%,
    rgba(255, 255, 255, 0) 100%
  );
}

.Filters {
  /* border: 2px solid rgb(106, 0, 255); */
  justify-content: flex-end;
}

.alcohol-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5열 */
  gap: 3%; /* 아이템 간격 */
  width: 100%;
}

.alcohol-item-wrap {
  display: flex;
  flex-direction: column; /* 이미지와 텍스트 수직 정렬 */
  align-items: center;
  text-align: center;
  /* padding: 10px; */
  text-decoration: none;
}

.alcohol-image {
  width: 100%;
  height: auto;
  aspect-ratio: 5 / 6;
  object-fit: contain;
  border-radius: 2px;
  border: 0.1px solid rgba(0, 0, 0, 0.546);
  background-color: rgba(255, 255, 255, 0.737);
}

.alcohol-name {
  margin-top: 8px;
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(78, 75, 69);
}

.alcohol-image:hover,
.alcohol-name:hover {
  cursor: pointer;
}

.link-img-tag,
.link-name-tag {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

/* 페이지네이션 CSS */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.pagination button {
  /* margin: 0 3px; */
  padding: 15% 25%;
  font-size: 14px;
  color: #d4cdc1;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination .page-btn {
  color: #545454;
}

.pagination button:hover {
  background-color: #d4cdc1;
  color: white;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination .active-page {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  color: #545454;
}
