/* AlcoholList.css */

.alcohol-list-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.alcohol-card {
  background-color: #efefef;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 250px;
}

.alcohol-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: cover;
}

.alcohol-info {
  margin-top: auto; /* 텍스트를 카드 하단으로 위치시키기 위해 추가 */
  text-align: center;
}

.alcohol-name {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 8px 0 4px;
}

.alcohol-description {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}
