.background-img {
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: -1;
  width: 100%;
}

.Header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; /* Header가 이미지 위로 오도록 z-index 설정 */
}

.Navigation {
  position: relative;
  z-index: 1;
  margin-top: 30%;
}
