* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  display: flex;
  justify-content: space-between; /* 좌우로 요소를 분배 */
  align-items: center; /* 세로 가운데 정렬 */
  position: absolute;
  flex-wrap: nowrap; /* 요소들이 줄바꿈 없이 수평으로 배치 */
  box-sizing: border-box; /* 패딩 포함 너비 조정 */
  top: 0;
  left: 0;
  padding: 9px 13%; /* 상하, 좌우 여백 */
  background-color: transparent;
  z-index: 100;
  width: 100%;
  box-sizing: border-box; /* 패딩과 보더를 포함하여 너비 계산 */

  /* overflow: hidden; */
  overflow: visible;

  /* border: 2px solid salmon; */
}

.logo-img {
  /* width: 31.47px; */
  height: 51px;
}

.login-button-section {
  margin: 0;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.sign-in-button {
  width: 70px;
  height: 30px;
  top: 28px;
  border-radius: 5.75px;
  background-color: #ffffff;
  color: black;
  border: none;
  font-size: 12px;
  font-family: "Pretendard", sans-serif;
  transition: 0.2s;
}

.sign-in-button:hover {
  cursor: pointer;
  background-color: #ffffffdd;
  transition: 0.2s;
}

.user-btn {
  width: 30px;
}

.user-btn:hover {
  cursor: pointer;
}

/* 마이페이지 드롭다운 */
.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  z-index: 9999; /* 높은 z-index 설정 */
}

/* 드롭다운 메뉴 활성화 상태 */
.dropdown-menu.open {
  display: block;
}

/* 메뉴 항목 스타일 */
.dropdown-menu-item {
  padding: 7px 20px;
  cursor: pointer;

  font-family: "Pretendard", sans-serif;
  background: none;
  border: none;
  color: black;
  font-size: 12px;
  text-align: center;
  transition: 0.3s;
}

.dropdown-menu-item:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  background-color: #d7d7d7;
}

.mypage-link {
  text-decoration: none;
  color: inherit;
}

/* 로딩 오버레이 */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 반투명 검은 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* 가장 앞쪽에 표시 */
}

/* 로딩 애니메이션 */
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* 회색 배경 */
  border-top: 5px solid #947b64; /* 파란색 */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* 회전 애니메이션 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
