.signup-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2EEE7;
  height: 100vh; /* 화면 전체 높이 */
  padding-top: 61px; /* 상단 여백 확보 */
  box-sizing: border-box; /* 패딩을 높이 계산에 포함 */
}


.signup-container {
  display: flex;
  width: 80%;
  max-width: 800px;
  height: auto;
  aspect-ratio: 1.525;
  max-height: 525px;
  background-color: #f2eee7;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: -60px;
}


.signup-left {
  width: 40%;
}

.signup-right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f3ef;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
  min-height: 300px;
}

.signup-input {
  padding: 8px;
  border-radius: 25px;
  font-size: 16px;
  color: black;
  background-color: #fff;
  font-weight: 700;
  width: 100%;
  border: none;
}

.signup-input::placeholder {
  color: #685959;
  font-size: 14px;
  font-weight: 400;
  padding-left: 20px;
  font-family: "Pretendard";
}

.error-text {
  color: red;
  font-size: 8px;
  margin-top: -18px;
  align-self: flex-start;
}

.signup-button {
  margin-top: 15px;
  width: 150px;
  padding: 5px;
  background-color: #fff;
  border-radius: 25px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-flex;
  justify-content: center;
  font-weight: 700;
  color: #685959;
}

.signup-button:hover {
  background-color: #bbb;
}
