.signup-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 80vh;
  margin-top: 61px;
}

.signup-container {
  display: flex;
  width: 80%;
  max-width: 800px;
  height: 400px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.signup-left {
  width: 40%;
  background-color: #ffffff;
}

.signup-right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
  min-height: 300px;
}

.signup-input {
  padding: 8px;
  border-radius: 25px;
  font-size: 16px;
  color: black;
  background-color: #fff;
  font-weight: 700;
  width: 100%;
  border: none;
}

.signup-input::placeholder {
  color: black;
}

.error-text {
  color: red;
  font-size: 8px;
  margin-top: -18px;
  align-self: flex-start;
}

.signup-button {
  margin-top: 15px;
  width: 150px;
  padding: 5px;
  background-color: #fff;
  border-radius: 25px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-flex;
  justify-content: center;
  font-weight: 700;
}

.signup-button:hover {
  background-color: #bbb;
}
