nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

nav div {
  margin: 0 10px;
  white-space: nowrap;
}

.nav-line {
  color: #AC9885;
}

nav .link {
  text-decoration: none;
  color: #AC9885;
  transition: 0.1s;
  font-size: 13.5px;
}

nav .link:hover {
  cursor: pointer;
  transition: 0.1s;
  opacity: 0.8;
}

.link.active {
  font-weight: 600;
  color: #947B64;
}
