/* .SearchBar {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: nowrap;
  margin: 8% 0;
  padding-top: 7%;
  background-color: #f2eee7;
  border: 2px solid saddlebrown;
}

.SearchBar input {
  font-family: "Pretendard", sans-serif;
  width: 50%;
  height: 55px;
  padding: 0 30px;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  background-color: #d4cdc1;
  color: white;
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;
  box-shadow: none;
} */
