.MainContents {
  /* min-height: 400vh; */
  width: 100%;
  display: flex;
  flex-direction: column; /* 세로로 쌓이도록 설정 */
  align-items: center; /* 가로 중앙 정렬 */
  z-index: -10; /* 기본 콘텐츠 위에 배경 배치 */

  /* background-color: #f2eee7; */
  background: linear-gradient(
    to right,
    #f2eee7 0%,
    #f2eee7 13%,

    rgba(242, 238, 231, 0.5) 13%,
    rgba(242, 238, 231, 0.5) 87%,

    #f2eee7 87%,
    #f2eee7 100%
  );
}

.banner-img {
  width: 100%;
  height: 460px;
  /* position: fixed; */
  z-index: 0;
  text-align: center;
  object-fit: cover;
}

/* 검색창 */
.search-bar {
  margin-top: 50px;
  padding: 25px 30px;
  width: 55%;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: #d4cdc1;
  color: white;
}

.search-bar::placeholder {
  color: #ffffff;
  font-size: 15px;
}

/* 카테고리 섹션 */
.category-section {
  width: 78%;
  margin: 200px 10% auto 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20% auto;

  overflow: hidden;
  /* border: 2px solid salmon; */
}

.category-title {
  font-family: "Noto Serif KR", serif;
  color: #6b5a48;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin-bottom: 60px;
}

.highlight {
  font-size: 24px;
}

.category-block {
  /* border: 2px solid salmon; */
  display: flex;
  gap: 50px; /* 가로 배치된 아이템 간격 */
  max-width: 100%;

  /* 서브 이미지의 부모 요소 */
  position: relative;
  overflow: visible;
}

.category-block1 {
  align-self: flex-start;
  margin-left: 10%;
}

.category-block2 {
  align-self: flex-end;
  margin-right: 8%;
}

.category-block3 {
  align-self: center;
  margin-top: 30px;
  margin-bottom: 10%;
}

.cate-img1 img {
  width: 380px;
  height: auto;
  object-fit: cover;
}

.cate-img2 img {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.cate-img3 img {
  width: 380px;
  height: auto;
  object-fit: cover;
}

.cate-text {
  white-space: nowrap;
  overflow: hidden;
}

.cate-text1 {
  text-align: left;
  margin-top: 15%;
}

.cate-text2 {
  text-align: right;
  margin-top: 13%;
}

.cate-text3 {
  text-align: left;
  margin-top: 6%;
  margin-left: 10px;
}

.cate-text h3 {
  font-size: 16px;
  font-weight: 500;
}

.cate-span {
  font-size: 18px;
  font-weight: bold;
}

.cate-text p {
  font-size: 12px;
  line-height: 1.5;
  margin: 20px auto;
}

.cate-link {
  font-size: 12px;
  color: #ac9885;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* 카테고리 서브 이미지 */
.cate-sub {
  position: absolute;
}

.cate-sub1 {
  width: 50%;
  top: 30%;
  right: 0;
  transform: translateX(103%);
}

.cate-sub2 {
  width: 40%;
  top: 60%;
  left: 0;
  transform: translateX(-135%);
}

.cate-sub3 {
  width: 60%;
  top: 35%;
  right: 0;
  transform: translateX(56%);
}
